In [1]:
import pandas as pd
import numpy as np

In [173]:
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 10000)

In [171]:
def isnumber(x):
    try:
        float(x)
        return True
    except:
        return False

In [172]:
SalesEstimate = {114:50,123:150,125:375,131:750,132:1500}

In [64]:
# Data file from the organizers (secretly, 2012 census data for retail)
df1 = pd.read_csv("C:\\Users\\Charlie\\Datathon\\Datathon\\Datathon\\Part 1.csv").drop(0,axis=0)
df2 = pd.read_csv("C:\\Users\\Charlie\\Datathon\\Datathon\\Datathon\\Part 2.csv").drop(0,axis=0)
df3 = pd.read_csv("C:\\Users\\Charlie\\Datathon\\Datathon\\Datathon\\Part 3.csv").drop(0,axis=0)
df4a = pd.read_csv("C:\\Users\\Charlie\\Datathon\\Datathon\\Datathon\\Part 4a.csv").drop(0,axis=0)
df4b = pd.read_csv("C:\\Users\\Charlie\\Datathon\\Datathon\\Datathon\\Part 4b.csv").drop(0,axis=0)
df5 = pd.read_csv("C:\\Users\\Charlie\\Datathon\\Datathon\\Datathon\\Part 5.csv").drop(0,axis=0)

In [167]:
# 2012 census data (census.gov) for profits in other industries (service, technology, arts, etc.)
econ1 = pd.read_csv("C:\\Users\\Charlie\\Datathon\\Economic Census\\ECN_2012_US_54Z1_with_ann.csv").drop(0,axis=0)
econ2 = pd.read_csv("C:\\Users\\Charlie\\Datathon\\Economic Census\\ECN_2012_US_56Z1_with_ann.csv").drop(0,axis=0)
econ3 = pd.read_csv("C:\\Users\\Charlie\\Datathon\\Economic Census\\ECN_2012_US_61Z1_with_ann.csv").drop(0,axis=0)
econ4 = pd.read_csv("C:\\Users\\Charlie\\Datathon\\Economic Census\\ECN_2012_US_62Z1_with_ann.csv").drop(0,axis=0)
econ5 = pd.read_csv("C:\\Users\\Charlie\\Datathon\\Economic Census\\ECN_2012_US_71Z1_with_ann.csv").drop(0,axis=0)
econ6 = pd.read_csv("C:\\Users\\Charlie\\Datathon\\Economic Census\\ECN_2012_US_72Z1_with_ann.csv").drop(0,axis=0)

C:\Users\Charlie\Miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (1,3,5,7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [168]:
# irs is IRS tax return data by zip code. demo is 2010 US Census demographic data by zip code. geo is Simplemaps.com free dataset on geography of zip codes
irs = pd.read_csv("C:\\Users\\Charlie\\Datathon\\IRS\\12zpallagi.csv")
demo = pd.read_csv("C:\\Users\\Charlie\\Datathon\\Demographics\\DEC_10_DP_DPDP1_with_ann.csv").drop(0,axis=0)
geo = pd.read_csv("C:\\Users\\Charlie\\Datathon\\Geography\\uszips.csv")

C:\Users\Charlie\Miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,101,103,105,107,109,111,113,115,117,119,121,123,125,127,129,131,133,135,137,139,141,143,145,147,149,151,153,155,157,159,161,163,165,167,169,171,173,175,177,179,181,183,185,187,189,191,193,195,197,199,201,203,205,207,209,211,213,215,217,219,221,223,225,227,229,231,233,235,237,239,241,243,245,247,249,251,253,255,257,259,261,263,265,267,269,271,273,275,277,279,281,283,285,287,289,291,293,295,297,299,301,303,305,307,309,311,313,315,317,319,321,323,325,327,329,331,333,335,337,339,341,343,345,347,349,351,353,355,357,359,361,363,365,367,369,371,373) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [169]:
irs2=irs.get(["zipcode","AGI_STUB","N1","A18500","N02300","N00900"]).drop_duplicates(["zipcode","AGI_STUB"])
irsBrackets=irs2.get(["zipcode","AGI_STUB","N1"]).pivot(index="zipcode",columns="AGI_STUB",values="N1")
irsProperty=irs2.get(["zipcode","A18500"]).groupby(by="zipcode",axis=0).sum()
irsUnemployed=irs2.get(["zipcode","N02300"]).groupby(by="zipcode",axis=0).sum()
irsBusiness=irs2.get(["zipcode","N00900"]).groupby(by="zipcode",axis=0).sum()

In [170]:
irsBrackets=irsBrackets.rename(columns={1:"0-25k",2:"25-50k",3:"50-75k",4:"75-100k",5:"100-200k",6:"200k+"})
irsProperty=irsProperty.rename(columns={"A18500":"PropTax"})
irsUnemployed=irsUnemployed.rename(columns={"N02300":"Unemployed"})
irsBusiness=irsBusiness.rename(columns={"N00900":"irsBusiness"})
irsBrackets.head(5)

AGI_STUB     0-25k    25-50k    50-75k   75-100k  100-200k    200k+
zipcode
0         889920.0  491150.0  254280.0  160160.0  183320.0  44840.0
1001        2920.0    2280.0    1500.0     950.0    1030.0    100.0
1002        3560.0    1780.0    1130.0     810.0    1570.0    610.0
1005         740.0     500.0     400.0     270.0     290.0     30.0
1007        2310.0    1530.0    1060.0     840.0    1360.0    220.0

In [175]:
irs3 = pd.merge(irsProperty,irsUnemployed,on="zipcode")
irs3 = pd.merge(irs3,irsBusiness,on="zipcode")
irs3 = pd.merge(irsBrackets,irs3,on="zipcode")
irs3=irs3[irs3.applymap(isnumber)]
irs3.head(5)

,0-25k,25-50k,50-75k,75-100k,100-200k,200k+,PropTax,Unemployed,irsBusiness
zipcode,,,,,,,,,
0,889920.0,491150.0,254280.0,160160.0,183320.0,44840.0,609471.0,126240.0,325580.0
1001,2920.0,2280.0,1500.0,950.0,1030.0,100.0,10001.0,850.0,1010.0
1002,3560.0,1780.0,1130.0,810.0,1570.0,610.0,25064.0,490.0,2110.0
1005,740.0,500.0,400.0,270.0,290.0,30.0,2790.0,270.0,310.0
1007,2310.0,1530.0,1060.0,840.0,1360.0,220.0,14156.0,600.0,1190.0

In [174]:
geo2=geo.get(["zip","density","lat","lng","county_fips","state_id"]).set_index("zip")
geo3 = geo2[geo2.applymap(isnumber)]
geo3["state_id"]=geo2.get("state_id")
geo3.to_csv("zipGeography.csv")
print(geo3.head(10))

     density       lat       lng  county_fips state_id
zip
601    111.4  18.18004 -66.75218        72001       PR
602    523.5  18.36073 -67.17517        72003       PR
603    667.9  18.45439 -67.12202        72005       PR
606     60.4  18.16724 -66.93828        72093       PR
610    312.0  18.29032 -67.12243        72011       PR
612    382.8  18.40699 -66.70803        72013       PR
616    368.9  18.41753 -66.66814        72013       PR
617    625.0  18.44124 -66.55917        72017       PR
622    104.6  17.99174 -67.15248        72023       PR
623    437.8  18.08355 -67.15417        72023       PR

In [176]:
demo2=demo.get(["GEO.id2","HD01_S001","HD02_S002","HD02_S003","HD02_S004","HD02_S005","HD02_S006","HD02_S007","HD02_S008","HD02_S009","HD02_S010","HD02_S011","HD02_S012","HD02_S013","HD02_S014","HD02_S025","HD02_S078","HD02_S079","HD02_S080","HD02_S081","HD02_S095","HD02_S089","HD02_S094","HD02_S107","HD02_S051","HD02_S159","HD02_S184","HD02_S171"])
demo2=demo2[demo2.applymap(isnumber)]
demo2=demo2.astype('float32')
demo2=demo2.astype({'GEO.id2':'int32',"HD01_S001":'int32'})
demo2=demo2.rename(columns={"GEO.id2":"zipcode"}).set_index("zipcode")
demo2.head(5)

,HD01_S001,HD02_S002,HD02_S003,HD02_S004,HD02_S005,HD02_S006,HD02_S007,HD02_S008,HD02_S009,HD02_S010,HD02_S011,HD02_S012,HD02_S013,HD02_S014,HD02_S025,HD02_S078,HD02_S079,HD02_S080,HD02_S081,HD02_S095,HD02_S089,HD02_S094,HD02_S107,HD02_S051,HD02_S159,HD02_S184,HD02_S171
zipcode,,,,,,,,,,,,,,,,,,,,,,,,,,,
601,18570,6.1,6.7,7.8,8.4,7.0,6.9,6.1,5.6,6.6,6.7,6.6,6.5,5.7,13.3,93.099998,3.1,0.4,0.0,1.3,0.0,2.2,99.500000,51.099998,22.200001,32.700001,15.7
602,41520,5.5,6.0,7.3,7.9,7.2,6.3,6.7,6.2,7.1,7.5,7.3,6.7,5.7,12.5,86.699997,5.3,0.3,0.1,2.4,0.0,5.3,99.400002,50.900002,22.400000,22.500000,17.0
603,54689,5.9,6.3,7.0,7.2,6.6,6.4,6.5,6.5,6.3,6.4,6.4,6.2,6.6,15.7,82.900002,7.6,0.3,0.2,2.5,0.0,6.6,98.500000,51.400002,28.900000,35.099998,17.5
606,6615,6.6,6.2,7.4,7.7,7.8,6.9,6.1,6.0,6.4,6.7,6.9,6.5,6.0,12.9,88.900002,4.7,0.4,0.0,1.5,0.1,4.2,99.400002,50.599998,25.400000,27.700001,16.4
610,29016,5.7,6.1,7.6,7.5,6.4,6.2,6.7,6.7,7.1,6.8,6.6,6.0,6.2,14.5,82.000000,7.2,0.3,0.1,2.8,0.0,7.5,99.199997,51.400002,25.600000,22.500000,14.1

In [177]:
demo2["0-14y"]=demo2.get("HD02_S002").add(demo2.get("HD02_S003")).add(demo2.get("HD02_S004"))
demo2["15-19y"]=demo2.get("HD02_S005")
demo2["20-24y"]=demo2.get("HD02_S006")
demo2["25-34y"]=demo2.get("HD02_S007").add(demo2.get("HD02_S008"))
demo2["35-44y"]=demo2.get("HD02_S009").add(demo2.get("HD02_S010"))
demo2["45-54y"]=demo2.get("HD02_S011").add(demo2.get("HD02_S012"))
demo2["55-64y"]=demo2.get("HD02_S013").add(demo2.get("HD02_S014"))
demo2["65y+"]=demo2.get("HD02_S025")
demo2=demo2.drop(columns=["HD02_S002","HD02_S003","HD02_S004","HD02_S005","HD02_S006","HD02_S007","HD02_S008","HD02_S009","HD02_S010","HD02_S011","HD02_S012","HD02_S013","HD02_S014","HD02_S025"])
demo2=demo2.rename(columns={"HD01_S001":"Pop2010","HD02_S078":"%White","HD02_S079":"%Black","HD02_S080":"%NAmerican","HD02_S081":"%Asian","HD02_S095":"%Multiracial","HD02_S089":"%PacIslander","HD02_S094":"%OtherRace","HD02_S107":"%Hispanic","HD02_S051":"%Female","HD02_S159":"%Nonfamily","HD02_S184":"%Rental","HD02_S171":"%Vacant"})
demo2.head(5)

,Pop2010,%White,%Black,%NAmerican,%Asian,%Multiracial,%PacIslander,%OtherRace,%Hispanic,%Female,%Nonfamily,%Rental,%Vacant,0-14y,15-19y,20-24y,25-34y,35-44y,45-54y,55-64y,65y+
zipcode,,,,,,,,,,,,,,,,,,,,,
601,18570,93.099998,3.1,0.4,0.0,1.3,0.0,2.2,99.500000,51.099998,22.200001,32.700001,15.7,20.599998,8.4,7.0,13.0,12.200000,13.299999,12.200000,13.3
602,41520,86.699997,5.3,0.3,0.1,2.4,0.0,5.3,99.400002,50.900002,22.400000,22.500000,17.0,18.799999,7.9,7.2,13.0,13.299999,14.800000,12.400000,12.5
603,54689,82.900002,7.6,0.3,0.2,2.5,0.0,6.6,98.500000,51.400002,28.900000,35.099998,17.5,19.200001,7.2,6.6,12.9,12.800000,12.800000,12.799999,15.7
606,6615,88.900002,4.7,0.4,0.0,1.5,0.1,4.2,99.400002,50.599998,25.400000,27.700001,16.4,20.199999,7.7,7.8,13.0,12.400000,13.600000,12.500000,12.9
610,29016,82.000000,7.2,0.3,0.1,2.8,0.0,7.5,99.199997,51.400002,25.600000,22.500000,14.1,19.400000,7.5,6.4,12.9,13.799999,13.400000,12.200000,14.5

In [291]:
demo2.to_csv("Demographics.csv")

In [178]:
econ1a=econ1.get(["GEO.id2","NAICS.id","RCPSZFE.id","ESTAB"])
econ1a=econ1a[econ1a.applymap(isnumber)]
econ1a=econ1a.astype('int32')
econ1a=econ1a[econ1a['NAICS.id']==54].rename(columns={"GEO.id2":"zipcode"})

econ1a.head(5)

   zipcode  NAICS.id  RCPSZFE.id  ESTAB
1     1001        54           1     54
2     1001        54           2     46
3     1001        54         114      8
4     1001        54         123     13
5     1001        54         125      7

In [179]:
econ1a=econ1a.pivot_table(index='zipcode',columns='RCPSZFE.id',values='ESTAB',fill_value=0)
econ1a.head(5)

RCPSZFE.id  1    2    114  123  125  131  132  998
zipcode
1001         54   46    8   13    7    2   16    8
1002         84   73   12   23   12   13   13   11
1005         10    8    3    3    2    0    0    2
1007         21   19    3    6    5    2    3    2
1008          2    2    0    0    1    1    0    0

In [180]:
econ1a["54Sales"]=econ1a.get([114])*SalesEstimate[114]
econ1a.head(5)

RCPSZFE.id   1   2  114  123  125  131  132  998  54Sales
zipcode
1001        54  46    8   13    7    2   16    8      400
1002        84  73   12   23   12   13   13   11      600
1005        10   8    3    3    2    0    0    2      150
1007        21  19    3    6    5    2    3    2      150
1008         2   2    0    0    1    1    0    0        0

In [181]:
econ1a["54Sales"]=econ1a.get("54Sales")+econ1a.get(123)*SalesEstimate[123]
econ1a["54Sales"]=econ1a.get("54Sales")+econ1a.get(125)*SalesEstimate[125]
econ1a["54Sales"]=econ1a.get("54Sales")+econ1a.get(131)*SalesEstimate[131]
econ1a["54Sales"]=econ1a.get("54Sales")+econ1a.get(132)*SalesEstimate[132]
econ1a.head(10)

RCPSZFE.id   1   2  114  123  125  131  132  998  54Sales
zipcode
1001        54  46    8   13    7    2   16    8    30475
1002        84  73   12   23   12   13   13   11    37800
1005        10   8    3    3    2    0    0    2     1350
1007        21  19    3    6    5    2    3    2     8925
1008         2   2    0    0    1    1    0    0     1125
1009         1   1    0    0    0    0    1    0     1500
1010         8   7    1    4    1    0    1    1     2525
1013        17  14    2    6    3    2    1    3     5125
1020        25  23    3    5    2    6    7    2    16650
1022         4   3    1    1    0    1    0    1      950

In [182]:
econ1a=econ1a.drop(columns=[1,2,114,123,125,131,132,998])
econ1a.head(2)

RCPSZFE.id  54Sales
zipcode
1001          30475
1002          37800

In [183]:
econ2.get("NAICS.id").unique()

array(['56', '561', '5613', '56131', '561312', '56132', '561320', '56133',
       '561330', '5614', '56143', '561431', '5616', '56162', '561622',
       '5617', '56171', '561710', '56172', '561720', '56173', '561730',
       '56174', '561740', '56179', '561790', '5619', '56191', '561910',
       '56199', '561990', '562', '5621', '56211', '562111', '5622',
       '56221', '562213', '562219', '5611', '56111', '561110', '561439',
       '5615', '56151', '561510', '562211', '562212', '56141', '561410',
       '5629', '56291', '562910', '56161', '561612', '56192', '561920',
       '56142', '561421', '5612', '56121', '561210', '56144', '561440',
       '561311', '56159', '561599', '561611', '56299', '562991', '56292',
       '562920', '562998', '561621', '56152', '561520', '561613',
       '561422', '56149', '561492', '56145', '561450', '561491', '561591',
       '562119', '561499', '562112', 5616, 56161, 561612, 5617, 56171,
       561710, 56172, 561720, 56173, 561730, 56179, 561790, 5619, 56199,
       561990, 56, 562, 5621, 56211, 562111, 561, 5614, 56144, 561440,
       5613, 56132, 561320, 5629, 56299, 562991, 56141, 561410, 5611,
       56111, 561110, 56143, 561431, 5615, 56151, 561510, 56152, 561520,
       561611, 56162, 561622, 56291, 562910, 56142, 561422, 56149, 561499,
       561439, 561492, 56292, 562920, 5612, 56121, 561210, 56131, 561311,
       561312, 56159, 561599, 561621, 56174, 561740, 562112, 562998,
       56192, 561920, 561591, 561613, 5622, 56221, 562211, 561421, 562119,
       562219, 56145, 561450, 56133, 561330, 561491, 562213, 56191,
       561910, 562212], dtype=object)

In [184]:
def getIndustrySales(source,num,name):
    source=source.get(["GEO.id2","NAICS.id","RCPSZFE.id","ESTAB"])
    source=source[source.applymap(isnumber)]
    source=source.astype('int32')
    source=source[source['NAICS.id']==num].rename(columns={"GEO.id2":"zipcode"})
    source=source.pivot_table(index='zipcode',columns='RCPSZFE.id',values='ESTAB',fill_value=0)
    source[name]=source.get([114])*SalesEstimate[114]
    source[name]=source.get(name)+source.get(123)*SalesEstimate[123]
    source[name]=source.get(name)+source.get(125)*SalesEstimate[125]
    source[name]=source.get(name)+source.get(131)*SalesEstimate[131]
    source[name]=source.get(name)+source.get(132)*SalesEstimate[132]
    source=source.drop(columns=[1,2,114,123,125,131,132,998])
    print(source.head(5))
    return source

In [185]:
econ2a=econ2
econ2a = getIndustrySales(econ2a,56,"56sales")

RCPSZFE.id  56sales
zipcode
1001          19375
1002           7400
1005           3375
1007           5775
1009           1125

In [306]:
econ3.get("NAICS.id").unique()

array(['61', '611', '6116', '61162', '611620', '61169', '611699', '6114',
       '61142', '611420', '61143', '611430', '6115', '61151', '611519',
       '61161', '611610', '611691', '611692', '6117', '61171', '611710',
       '611512', '611513', '611511', '61163', '611630', '61141', '611410',
       61161, 611610, 61162, 611620, 61169, 611691, 611692, 611699, 6117,
       61171, 611710, 61, 611, 6114, 61142, 611420, 6115, 61151, 611519,
       6116, 611511, 611513, 61163, 611630, 61143, 611430, 61141, 611410,
       611512], dtype=object)

In [186]:
econ3a=econ3
econ3a = getIndustrySales(econ3a,61,"61sales")

RCPSZFE.id  61sales
zipcode
1001            800
1002          11800
1005            750
1007           1200
1013           1650

In [309]:
econ4.get("NAICS.id").unique()

array(['62', '621', '6211', '62111', '621111', '6212', '62121', '621210',
       '6213', '62131', '621310', '62132', '621320', '62133', '621330',
       '62134', '621340', '62139', '621399', '6216', '62161', '621610',
       '623', '6231', '62311', '623110', '6232', '62321', '623210',
       '6233', '62331', '623311', '623312', '624', '6241', '62419',
       '624190', '6243', '62431', '624310', '6244', '62441', '624410',
       '621112', '6214', '62141', '621410', '62142', '621420', '62149',
       '621498', '6219', '62199', '621999', '62322', '623220', '6239',
       '62399', '623990', '62411', '624110', '62412', '624120', '6242',
       '62422', '624221', '62191', '621910', '621492', '624229', '62421',
       '624210', '621391', '6215', '62151', '621512', '622', '6221',
       '62211', '622110', '6222', '62221', '622210', '6223', '62231',
       '622310', '62423', '624230', '621493', '621511', '621991',
       '621491', 6215, 62151, 621512, 6216, 62161, 621610, 623, 6231,
       62311, 623110, 6232, 62322, 623220, 6239, 62399, 623990, 624, 6241,
       62412, 624120, 62419, 624190, 6244, 62441, 624410, 62, 621, 6211,
       62111, 621111, 621112, 6212, 62121, 621210, 6213, 62131, 621310,
       6233, 62331, 623312, 6242, 62422, 624229, 62132, 621320, 623311,
       6243, 62431, 624310, 62133, 621330, 62134, 621340, 62321, 623210,
       62139, 621399, 621391, 6214, 62141, 621410, 62142, 621420, 62149,
       621492, 621498, 621511, 6219, 62191, 621910, 622, 6221, 62211,
       622110, 62411, 624110, 62421, 624210, 624221, 62199, 621999, 6223,
       62231, 622310, 621493, 6222, 62221, 622210, 621991, 62423, 624230,
       621491], dtype=object)

In [187]:
econ4a=econ4
econ4a = getIndustrySales(econ4a,62,"62sales")

RCPSZFE.id  62sales
zipcode
1001          33800
1002          44275
1003           3000
1005           3250
1007          11275

In [308]:
econ5.get("NAICS.id").unique()

array(['71', '713', '7131', '71311', '713110', '7139', '71391', '713910',
       '71399', '713990', '711', '7111', '71113', '711130', '7113',
       '71132', '711320', '7115', '71151', '711510', '712', '7121',
       '71211', '712110', '71394', '713940', '71392', '713920', '71111',
       '711110', '71395', '713950', '71312', '713120', '71212', '712120',
       '71393', '713930', '7114', '71141', '711410', '71213', '712130',
       '71219', '712190', '71131', '711310', '7112', '71121', '711211',
       '711219', '71112', '711120', '71119', '711190', '711212', '7132',
       '71329', '713290', '71321', '713210', 71391, 713910, 71394, 713940,
       71399, 713990, 71, 713, 7139, 711, 7111, 71111, 711110, 7115,
       71151, 711510, 712, 7121, 71219, 712190, 7112, 71121, 711211,
       71211, 712110, 7114, 71141, 711410, 7113, 71131, 711310, 7131,
       71312, 713120, 71395, 713950, 71113, 711130, 71212, 712120, 71213,
       712130, 71132, 711320, 7132, 71329, 713290, 711212, 71393, 713930,
       71311, 713110, 711219, 71112, 711120, 71119, 711190, 71392, 713920,
       71321, 713210], dtype=object)

In [188]:
econ5a=econ5
econ5a = getIndustrySales(econ5a,71,"71sales")

RCPSZFE.id  71sales
zipcode
1001           2025
1002           7925
1005             50
1007            100
1008              0

In [307]:
econ6.get("NAICS.id").unique()

array(['72', '721', '7211', '72111', '721110', '722', '7223', '72232',
       '722320', '72233', '722330', '7224', '72241', '722410', '7225',
       '72251', '722511', '722513', '722515', '72119', '721191', '7213',
       '72131', '721310', '72231', '722310', '722514', '7212', '72121',
       '721211', '721214', '721199', '72112', '721120', 7225, 72251,
       722511, 722515, 72, 721, 7211, 72111, 721110, 722, 7223, 72231,
       722310, 72232, 722320, 72233, 722330, 7224, 72241, 722410, 722513,
       722514, 7212, 72121, 721211, 721214, 72119, 721191, 721199, 7213,
       72131, 721310, 72112, 721120], dtype=object)

In [189]:
econ6a=econ6
econ6a = getIndustrySales(econ6a,72,"72sales")

RCPSZFE.id  72sales
zipcode
1001          20750
1002          46800
1005           3300
1007           9350
1008           3300

In [190]:
OthInd=econ1a.merge(econ2a,on="zipcode").merge(econ3a,on="zipcode").merge(econ4a,on="zipcode").merge(econ5a,on="zipcode").merge(econ6a,on="zipcode")
OthInd.head(10)

RCPSZFE.id  54Sales  56sales  61sales  62sales  71sales  72sales
zipcode
1001          30475    19375      800    33800     2025    20750
1002          37800     7400    11800    44275     7925    46800
1005           1350     3375      750     3250       50     3300
1007           8925     5775     1200    11275      100     9350
1013           5125     3400     1650    19475      100    16400
1020          16650    10325     1525    36700     5400    55975
1027           7825    10900     1700    20300      575    22225
1028          24350     9625     1325    48800     5625    21525
1030           3700     4725      150     9125     4550     7200
1033           2400     5325        0     1500       50     3125

In [62]:
OthInd.to_csv("Other Industry Sales")

In [67]:
df1=df1.drop(columns=["GEO.id","NAICS.display-label", "RCPSZFE.display-label","YEAR.id"])

In [68]:
df2=df2.drop(columns=["GEO.id","NAICS.display-label", "RCPSZFE.display-label","YEAR.id"])
df3=df3.drop(columns=["GEO.id","NAICS.display-label", "RCPSZFE.display-label","YEAR.id"])
df4a=df4a.drop(columns=["GEO.id","NAICS.display-label", "RCPSZFE.display-label","YEAR.id"])
df4b=df4b.drop(columns=["GEO.id","NAICS.display-label", "RCPSZFE.display-label","YEAR.id"])
df5=df5.drop(columns=["GEO.id","NAICS.display-label", "RCPSZFE.display-label","YEAR.id"])

In [73]:
df1["GEO.display-label"]=df1["GEO.display-label"].apply(lambda st: st[st.find(", ")+1:st.find(")")])
df2["GEO.display-label"]=df2["GEO.display-label"].apply(lambda st: st[st.find(", ")+1:st.find(")")])
df3["GEO.display-label"]=df3["GEO.display-label"].apply(lambda st: st[st.find(", ")+1:st.find(")")])
df4a["GEO.display-label"]=df4a["GEO.display-label"].apply(lambda st: st[st.find(", ")+1:st.find(")")])
df4b["GEO.display-label"]=df4b["GEO.display-label"].apply(lambda st: st[st.find(", ")+1:st.find(")")])
df5["GEO.display-label"]=df5["GEO.display-label"].apply(lambda st: st[st.find(", ")+1:st.find(")")])

In [75]:
df1=df1.rename(columns={"GEO.id2":"zipcode","GEO.display-label":"State","NAICS.id":"NAICS","RCPSZFE.id":"RCP","ESTAB":"Number"})
df2=df2.rename(columns={"GEO.id2":"zipcode","GEO.display-label":"State","NAICS.id":"NAICS","RCPSZFE.id":"RCP","ESTAB":"Number"})
df3=df3.rename(columns={"GEO.id2":"zipcode","GEO.display-label":"State","NAICS.id":"NAICS","RCPSZFE.id":"RCP","ESTAB":"Number"})
df4a=df4a.rename(columns={"GEO.id2":"zipcode","GEO.display-label":"State","NAICS.id":"NAICS","RCPSZFE.id":"RCP","ESTAB":"Number"})
df4b=df4b.rename(columns={"GEO.id2":"zipcode","GEO.display-label":"State","NAICS.id":"NAICS","RCPSZFE.id":"RCP","ESTAB":"Number"})
df5=df5.rename(columns={"GEO.id2":"zipcode","GEO.display-label":"State","NAICS.id":"NAICS","RCPSZFE.id":"RCP","ESTAB":"Number"})

In [77]:
df1=df1[df1['NAICS'].map(lambda x: len(x)) == 6]

In [84]:
df1=df1.astype({"zipcode":'int32','NAICS':"int32","RCP":'int32',"Number":'int32'})

In [137]:
df1_table=df1.pivot_table(index='zipcode',columns=['NAICS','RCP'],values='Number',fill_value=0)

In [138]:
for (a,b) in df1_table.columns:
    if b==114:
        df1_table[(a,1)]=df1_table.get((a,b))*SalesEstimate[114]
    elif b==123:
        df1_table[(a,1)]+=df1_table.get((a,b))*SalesEstimate[123]
    elif b==125:
        df1_table[(a,1)]+=df1_table.get((a,b))*SalesEstimate[125]
    elif b==131:
        df1_table[(a,1)]+=df1_table.get((a,b))*SalesEstimate[131]
    elif b==132:
        df1_table[(a,1)]+=df1_table.get((a,b))*SalesEstimate[132]

In [136]:
NAICS = [a for (a,b) in df1_table.columns]

In [141]:
df1t=pd.DataFrame()
for n in NAICS:
    df1t[n]=df1_table.get((n,1))
df1t.head(5)

,441110,441120,441210,441222,441228,441310,441320,442110,442210,442291,442299,443141,443142,444110,444120,444130,444190,444210,444220,445110,445120,445210,445220,445230,445291,445292,445299,445310,446110,446120,446130,446191,446199,447110,447190,448110,448120,448130,448140,448150,448190,448210,448310,448320,451110,451120,451130,451140,451211,451212,452111,452112,452910,452990,453110,453210,453220,453310,453910,453920,453930,453991,453998,454111,454112,454113,454210,454310,454390
zipcode,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
6001,1500,0,0,0,0,0,1500,2250,1500,3000,2025,750,2250,0,3000,750,2250,0,0,3750,0,1500,750,0,0,0,1500,3000,3000,1500,1500,0,0,3000,0,0,2625,0,4500,375,1500,1500,4125,0,7500,2250,0,750,0,0,0,1501,0,375,0,375,1425,0,1875,0,0,150,1500,0,0,0,0,0,0
6002,0,1500,0,0,375,4500,1875,0,375,0,0,1500,3000,3000,0,750,750,0,0,4500,375,0,0,0,375,0,0,6750,4875,750,0,750,150,5625,150,0,2250,0,1500,0,0,750,0,0,750,0,0,0,0,0,0,0,0,5250,0,0,0,0,0,0,0,0,2250,2250,0,0,1500,3000,1500
6006,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1500,0,0,0
6010,4500,3050,3000,0,1500,8250,4500,1125,750,0,1500,0,6575,1500,2250,3900,1125,0,750,9675,3775,1500,0,0,0,0,0,11025,13500,750,1875,0,375,22125,750,0,3800,0,3800,150,0,750,3000,0,6525,0,1500,0,0,0,0,1501,0,6375,375,1875,1550,3375,1500,0,0,2400,1550,1650,0,0,1500,9000,1125
6011,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,150,0,0,0,0,0,0,0,0,0,0,1500,0

In [146]:
def ProcessColumns(presource):
    presource=presource[presource['NAICS'].map(lambda x: len(x)) == 6] 
    presource=presource.astype({"zipcode":'int32','NAICS':"int32","RCP":'int32',"Number":'int32'})
    source=presource.pivot_table(index='zipcode',columns=['NAICS','RCP'],values='Number',fill_value=0)
    for (a,b) in source.columns:
        if b==114:
            source[(a,1)]=source.get((a,b))*SalesEstimate[114]
        elif b==123:
            source[(a,1)]+=source.get((a,b))*SalesEstimate[123]
        elif b==125:
            source[(a,1)]+=source.get((a,b))*SalesEstimate[125]
        elif b==131:
            source[(a,1)]+=source.get((a,b))*SalesEstimate[131]
        elif b==132:
            source[(a,1)]+=source.get((a,b))*SalesEstimate[132]
    target = pd.DataFrame()
    NAICS = [a for (a,b) in source.columns]
    for n in NAICS:
        target[n]=source.get((n,1))
    return target

In [144]:
df2t=ProcessColumns(df2)

         441110  441120  441210  441222  441228  441310  441320  442110  \
zipcode
3901          0    3000       0       0       0     750       0       0
3902          0       0       0       0       0       0       0       0
3903          0     150       0       0       0       0       0       0
3904          0    1500       0    1500       0       0       0    1500
3905          0       0       0       0       0       0       0       0

         442210  442291  442299  443141  443142  444110  444120  444130  \
zipcode
3901          0       0       0       0       0       0       0       0
3902          0       0    1125       0       0       0       0       0
3903          0       0       0       0     150       0       0       0
3904          0       0    7175       0    1500       0       0    3750
3905          0       0       0       0       0       0       0       0

         444190  444210  444220  445110  445120  445210  445220  445230  \
zipcode
3901          0       0       0       0     375       0       0       0
3902          0       0       0    1500       0       0       0       0
3903          0    1500       0       0       0       0       0       0
3904       1500       0       0    1550     375       0       0    1500
3905          0       0       0       0       0       0       0       0

         445291  445292  445299  445310  446110  446120  446130  446191  \
zipcode
3901          0       0       0       0       0       0       0       0
3902          0       0       0       0       0       0       0       0
3903          0       0       0       0       0       0       0       0
3904        375    3000       0       0    1500    1500    1500     150
3905          0       0       0       0       0       0       0       0

         446199  447110  447190  448110  448120  448130  448140  448150  \
zipcode
3901          0    1500    1500       0       0       0       0       0
3902          0       0       0       0     375       0       0       0
3903          0    3000     750       0       0       0       0       0
3904          0    7500       0    5250   13875    8250   27750    1875
3905          0       0    1500       0       0       0       0       0

         448190  448210  448310  448320  451110  451120  451130  451140  \
zipcode
3901          0       0       0       0       0       0       0       0
3902        375       0       0       0       0       0     375       0
3903          0       0       0       0     375       0       0       0
3904       6750   21750    3000    1500    1500     375       0       0
3905          0       0       0       0       0       0       0       0

         451211  451212  452111  452112  452910  452990  453110  453210  \
zipcode
3901          0       0       0       0       0       0       0       0
3902          0       0       0       0       0       0     150       0
3903          0       0       0       0       0       0       0       0
3904          0       0       0       0       0    1500     150    1500
3905          0       0       0       0       0       0       0       0

         453220  453310  453910  453920  453930  453991  453998  454111  \
zipcode
3901          0       0     150       0       0       0       0       0
3902          0     375       0       0       0       0       0    1500
3903          0      50       0       0       0       0       0     375
3904          0     750       0       0       0       0    1650       0
3905          0       0       0       0       0       0       0       0

         454112  454113  454210  454310  454390
zipcode
3901          0       0       0       0       0
3902          0       0       0       0       0
3903          0       0       0    3000       0
3904          0       0       0    1500    1125
3905          0       0       0       0       0

In [147]:
df3t=ProcessColumns(df3)
df4at=ProcessColumns(df4a)
df4bt=ProcessColumns(df4b)
df5t=ProcessColumns(df5)

In [157]:
df=df1t.append(df2t).append(df3t).append(df4at).append(df4bt).append(df5t)

In [166]:
df=df.sort_values(by="zipcode")
df.tail(10)

,441110,441120,441210,441222,441228,441310,441320,442110,442210,442291,442299,443141,443142,444110,444120,444130,444190,444210,444220,445110,445120,445210,445220,445230,445291,445292,445299,445310,446110,446120,446130,446191,446199,447110,447190,448110,448120,448130,448140,448150,448190,448210,448310,448320,451110,451120,451130,451140,451211,451212,452111,452112,452910,452990,453110,453210,453220,453310,453910,453920,453930,453991,453998,454111,454112,454113,454210,454310,454390
zipcode,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
99850,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1500,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
99901,1500,1500,0,2250,0,3000,1500,2250,375,0,900,1500,1500,1500,0,375,1125,0,425,6000,0,0,0,0,0,0,900,3150,1500,0,0,0,0,4500,3375,0,0,0,1700,0,50,375,7125,0,3050,525,375,375,825,0,0,1501,0,2025,150,750,10275,375,0,375,0,0,50,0,0,0,0,1500,0
99918,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,375,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
99919,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1500,0,0,0,0,0,0,0,0,0,0,0,0,0,1650,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
99921,0,0,0,0,0,1500,1500,0,0,0,0,0,150,0,0,1500,0,0,0,1500,0,0,0,0,0,0,0,0,1500,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1500,0,0,0,0,0,0,0,0,1125,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
99925,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1500,0,150,50,0,0,0,0,0,0,0,0,0,0,1500,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,750,0,0,0,0,0,0,0
99926,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,375,0,0,0,1500,1500,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1500,0
99927,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,375,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
99929,0,0,0,1500,0,750,0,0,0,0,0,0,0,0,0,3000,0,0,0,3000,0,0,0,0,0,0,0,750,750,0,0,0,0,1500,0,0,0,0,750,0,0,0,0,0,750,0,0,0,0,0,0,0,0,0,0,0,0,2625,0,0,0,0,0,0,0,0,0,1500,50
99950,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1500,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [200]:
counties = pd.merge(df,OthInd,on="zipcode",how="left").merge(demo2,on="zipcode",how="left").merge(geo3,left_index=True,right_index=True,how="left").merge(irs3,on="zipcode",how="left")

In [202]:
counties = counties.fillna(value=0)

In [205]:
counties.to_csv("Counties.csv")